html, body {
    margin: 0;
    padding: 0;
}
body{
    width: 375px;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.logo{
    
    
    display: inline-block;
     max-height: 100%;
    max-width: 100%;
    width: 127px;
    object-fit: cover;
    
    
    
    
    
}
header{
    align-content: center;
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}
section{

    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
}
.name{
    
    margin: 8px 15px;
}
.post{
    width: 375px;
    margin-top: 15px;
    height: 375px;
}
h3,
p{
    
    margin-bottom: 0;
    margin-top: 0;
}
h3{
    padding-bottom: 3px;
}
.icons{
    width: 40px;
    height: 42px;
    object-fit: cover;
    margin: 10px;
}
.icons-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
footer{
    margin-top: 10px;
}

.interactions{
    font-weight: 900;
    text-align: start;
    padding-bottom: 20px;
}
#normal{
    font-weight: normal;
    margin-left: 5px;
}

p{
    font-weight: 500;
}
button{
    border: 1 px solid black;
}
#loadFeed{
    background-color: white;
    height: 3em;
    width: 80%;
    border-radius: 30px 30px
}
#loadFeed:focus, #loadFeed:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.icons{
    background: white;
    border: none;
    padding: 0;
    
}
#likeButton{
    background: white;
    border: none;
}
#likeButton:hover{
    cursor: pointer;
    
}
#likeButton:active{
    border: none;
}
